.container {
    background-color: var(--white);
    display: flex;
    flex: 1 1;
    gap: 10px;
    border-radius: 16px;
    padding:20px;
}

.container img{
    width: 200px;
    cursor: pointer;
    border: 1px solid var(--text-gray);
    border-radius: 16px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productInfo span:nth-child(2){
    color: var(--text-gray);
    font-size: 12px;
}

.prize {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
    align-items: flex-end;
}