.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.title a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
}

.categoriesContainer {
    display: flex;
    gap: 12px;
}

.iconCard {
    background-color: var(--white);
    padding: 20px 40px;
    border-radius: 16px;
    display: flex;
    flex: 1 ;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-gray);
}
