.container {
    display: flex;
    background: var(--white);
    position: relative;
    justify-content: center;
    border-radius: 16px;
    padding: 10px;
    gap: 18px;
    padding-left: 20px;
    margin-left: auto;
}

.container input {
    color: var(--text-gray);
    opacity: 0.6;
    border: none;
    padding-right: 100px;
    font-size: 18px;
    min-width: 350px;
    max-width: 400px;
    outline: none;
}