.container {
    display: flex;
    background: var(--white);
    position: relative;
    justify-content: center;
    border-radius: 16px;
    padding: 10px 10px 10px 20px;
    gap: 18px;
    margin-left: auto;
}

.container input {
    color: var(--text-gray);
    opacity: 0.6;
    border: none;
    padding-right: 100px;
    font-size: 18px;
    min-width: 450px;
    max-width: 600px;
    outline: none;
}