@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --yellow : #F8B602;
    --text-gray: #A098AE;
    --gray:#F5F5F5;
    --black: #2E2E2E;
    --red: #EB5757;
    --white: #FFFFFF;
    font-size: 14px;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
}

.main {
    display: flex;
    flex: 1 ;
    flex-direction: column;
    background: var(--gray);
    padding: 30px;
    gap: 20px;
}