.container {
  display: flex;
  height: 100vh;
  background: var(--gray);
  padding: 44px;
  flex-wrap: wrap;
}

.container span {
  font-size: 36px;
  font-weight: 700;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 58px;
}