.container {
  display: flex;
  flex: 1 ;
  flex-direction: column;
  background: var(--gray);
  padding: 30px;
  gap: 20px;
}

.navigation {
  display: flex;
}

.navigation span {
  font-size: 26px;
  font-weight: 700;
}


