.container {
    background: #FFFFFF;
    padding: 30px;
    width: 320px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.title span:last-child{
    color: #F8B602;
}

.sections  {
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sections a {
    text-decoration: none;
}

.section {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    padding: 12px;
    color: var(--text-gray);
}

.section:hover {
    cursor: pointer;
}

.active {
    cursor: pointer;
    background: var(--yellow);
    color: var(--white);
}