.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.container h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.balance {
    background-image: url("/assets/img_background_balance.png");
    border-radius: 16px;
    padding: 26px;
    background-repeat: no-repeat;
}

.balanceBox {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 16px;
    padding: 12px;
    width: 50%;
}

.balanceBox span:first-child{
    font-size: 12px;
}


.balanceBox span:last-child{
    font-size: 22px;
    font-weight: 700;
}